<div class="card">
  <img [id]="card?.bgImage" class="card__image"
       [ngClass]="card?.bgImage ? '_' + card?.bgImage!.replace('.jpg', '') : ''"
       [src]="'assets/img/' + ((mediaService.media$ | async)?.isMobile ? 'mobile/' : '') + card?.bgImage"
       [alt]="card?.bgImage">
  <div class="card__content"
       [ngClass]="{'_reverse': reverseView}"
       [attr.data-aos]="(mediaService.media$ | async)?.isDesktop ? 'fade' : ''">
    <img class="card__image"
         [ngClass]="card?.image ? '_' + card?.image!.replace('-img.jpg', '') : ''"
         [src]="'assets/img/' + ((mediaService.media$ | async)?.isMobile ? 'mobile/' : '') + card?.image"
         [attr.data-aos-anchor]="card?.bgImage"
         [alt]="card?.image">
    <div class="card__description"
         [ngClass]="{
         '_h575': (mediaService.media$ | async)?.isDesktop,
         '_right': !reverseView && (mediaService.media$ | async)?.isDesktop,
         '_left': reverseView && (mediaService.media$ | async)?.isDesktop
         }">
      <h3 class="card__description-title">{{card?.title}}</h3>
      <p class="card__description-subtitle">
        {{(mediaService.media$ | async)?.isDesktop ? card?.description : card?.shortDescription}}
      </p>
      <app-button class="card__button"
                  [style.left]="reverseView && (mediaService.media$ | async)?.isDesktop ? 'auto': 0"
                  [style.right]="reverseView && (mediaService.media$ | async)?.isDesktop ? 0 : 'auto'"
                  (click)="onExamplesButtonClick()"
                  text="Примеры работ"
                  buttonClass="_p-s35">
      </app-button>
    </div>
  </div>
</div>
