@import "../../../styles/mixins";
@import "../../../styles/media";

.home-page {
  &__title {
    .roboto-black();
    font-size: 72px;
    line-height: 86px;
    letter-spacing: -0.015em;

    @media @mobile {
      font-size: 25px;
      line-height: 30px;
      letter-spacing: -0.03em;
    }

    &._yellow {
      color: #FFA41D;
    }

    &._gradient {
      background: linear-gradient(to right, #FFAF65 0%, #BF04C2 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &._purple {
      color: #9300ED;
    }
  }

  &__subtitle {
    margin-top: 34px;

    .roboto-regular();
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #969696;

    @media @mobile {
      margin-top: 8px;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__content {
    margin-top: 150px;
    display: flex;
    flex-direction: column;

    @media @mobile {
      margin-top: 56px;
    }

    &-title {
      .roboto-black();
      font-size: 64px;
      line-height: 76px;
      color: #FF6363;
      margin: 0 auto 115px;
      z-index: 1;

      @media @mobile {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 0;
      }
    }

    &-wrapper {
      @media @mobile {
        height: 290px;
      }
    }
  }
}
