<main class="site-layout">
  <ng-container *ngTemplateOutlet="messengerFabs"></ng-container>
  <header #headerWrapper class="site-layout__header">
    <app-header (menuToggle)="onMenuToggle($event)"></app-header>
  </header>
  <section class="site-layout__page">
    <router-outlet></router-outlet>
  </section>
  <footer>
    <app-footer class="site-layout__footer"></app-footer>
  </footer>
</main>

<ng-template #messengerFabs>
    <div class="site-layout__messengers">
      <a target="_blank" href="https://wa.me/380506415020">
        <button class="site-layout__messengers-button _whatsapp" mat-fab aria-label="Whatsapp contact">
          <mat-icon class="site-layout__messengers-button-icon" svgIcon="whatsapp" aria-hidden="false"
                    aria-label="Whatsapp icon">
          </mat-icon>
        </button>
      </a>
      <a href="viber://chat?number=380506415020">
        <button class="site-layout__messengers-button _viber" mat-fab aria-label="Viber contact">
          <mat-icon class="site-layout__messengers-button-icon" svgIcon="viber" aria-hidden="false"
                    aria-label="Viber icon">
          </mat-icon>
        </button>
      </a>
    </div>
</ng-template>
