@import (less) './styles/reset.less';
@import (less) './styles/scrollbar.less';
@import (less) './styles/carousel.less';
@import (less) './styles/media.less';
@import (less) './styles/agm.less';
@import (less) './styles/dialog.less';
@import (css) '../node_modules/aos/dist/aos.css';
@import (css) "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  width: 1440px;
  margin: 0 auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;

  @media @mobile {
    width: 100vw;
    overflow-x: hidden;
  }
}
