<div *ngIf="(mediaService.media$ | async)?.isMobile" class="card-dialog__close">
  <p class="card-dialog__close-text" (click)="dialogRef.close()">Закрыть</p>
</div>

<h3 class="card-dialog__title">{{data?.title}}</h3>
<p class="card-dialog__content-title">Примеры работ нашей типографии:</p>
<div class="card-dialog__content-wrapper">
  <div class="card-dialog__content-image-container">
    <mat-carousel class="carousel-component"
                  [ngClass]="(mediaService.media$ | async)?.isMobile ? '_mobile-dialog' : ''"
                  [hideArrows]="false"
                  [hideIndicators]="false"
                  [maintainAspectRatio]="false"
                  [svgIconOverrides]="{arrowBack: 'arrow_back', arrowForward: 'arrow_forward'}"
                  [useKeyboard]="true"
                  [useMouseWheel]="true">
      <mat-carousel-slide
        *ngFor="let slide of data?.exampleImages"
        [hideOverlay]="true" [image]="'assets/img/' + slide">
      </mat-carousel-slide>
    </mat-carousel>
  </div>
  <div class="card-dialog__content-text-container">
    <p class="card-dialog__content-text"
       [innerHTML]="(mediaService.media$ | async)?.isMobile ? data?.shortDescription : data?.description">
    </p>
  </div>
</div>
<div class="card-dialog__content-button-container">
  <app-button (click)="onOrderClick()" text="Заказать" buttonClass="_m-t25 _t-s18 _p-tb11s52 _b-r15"></app-button>
</div>
